<!-- TODO(1): 몇번째 대결, 어떤 유저끼리 대결했는지 -->
<!-- TODO(2): 게임 승자 기준, 유저 숫자선택, 게임결과, 점수 -->
<!-- TODO(3):전적목록 버튼 누르면 현재 유저의 전적페이지 이동 -->
<!-- TODO(4):반격하고 전적목록을 눌렀을 경우 반격버튼 사라짐 -->
{% extends 'users/base.html' %}

{%block content%}
<!-- 게임 진행중 -->
{%if game.status %} 
    {% if game.challenger_id == user.id %}     
        <h4 class="text-light">
            {{ game.pk }}-{{ game.challenger }} VS {{ game.opponent }}<br>
        </h4>  
        <h5>
            진행 중…<br>
            나: {{game.challengerCard}}<br>
        </h5>  
        <button type="button" class="btn btn-primary" style="width:100px; padding:3px;">
            <a href="{% url 'users:delete' game.pk %}" class="text-light">게임취소</a>
        </button>
        <hr>
        <button type="button" class="btn btn-primary" style="width:100px; padding:3px">
            <a href="{% url 'users:gamelist'%}" class="text-light">전적목록</a>
        </button>      
    {% else %}
    {% endif %}

    {% if game.opponent_id == user.id %} 
        <h4 class="text-light">
            {{ game.pk }}-{{ game.challenger }} VS {{ game.opponent }}<br>
        </h4>
        <button type="button" class="btn btn-primary" style="width:100px; padding:3px">
            <a href="{% url 'users:counterattack' game.pk%}" class="text-light">반격하기</a>
        </button>
        <hr>
        <button type="button" class="btn btn-primary" style="width:100px; padding:3px">
            <a href="{% url 'users:gamelist'%}" class="text-light">전적목록</a>
        </button>
    {% else %}
    {% endif %}
<!-- 게임 종료 -->
{% else %}
    <h5 text-light></h5>
    <hr>
    {% if game.rule %}
        <p>숫자가 더 큰 사람이 대결에서 이깁니다</p>
    {% else %}
        <p>숫자가 더 작은 사람이 대결에서 이깁니다</p>
    {% endif %}
    <hr> 
    나 : {{ game.challengerCard }}   
    user : {{ game.opponentCard }}
    <hr>
    결과: {{game.result}}
    <hr>
    {% if game.result %}
        <p>점수: {{game.challengerCard}}점</p>
    {% else %}
        <p>점수: -{{game.challengerCard}}점</p>
    {% endif %}
    </h5>  
    <button type="button" class="btn btn-primary" style="width:100px; padding:3px">
        <a href="{% url 'users:gamelist'%}" class="text-light">전적목록</a>
    </button>  
{% endif %}
{%endblock%}