<!-- TODO(1):페이지 설명 및 현재 접속된 유저 아이디 보여주기 -->
<!-- TODO(2):접속된 유저가 싸운 기록 정보(상대 아이디, 결과)보여주기(종료된 게임) -->
<!-- TODO(3):접속된 유저가 공격했고, 진행중일 때 게임 취소 버튼 활성화 -->
<!-- TODO(4):다른 유저가 게임을 걸어온 경우 반격하기 버튼 활성화 -->
<!-- TODO(5):자신이 공격한 게임은 삭제가 가능..(?) 이건 화면 어디에 구성할지 안나왔음 -->
{% extends 'users/base.html' %}

{%block content%}
<p>현재 플레이어의 게임 전적을 보여주는 페이지입니다. 글을 조금 더 써봅시다. 조금만 더요</p>
<p>현재 플레이어의 게임 전적을 보여주는 페이지입니다. 글을 조금 더 써봅시다. 조금만 더요</p>
<br><br>
<p>현재플레이어: {{user.username}} </p>
<hr>
<!-- ------------여기리스트 구현해야함-------------- -->
{{ game.id }}-{{ game.challenger }}VS{{ game.opponent }}

{%if status %}
    {%if challenger.name==name|result %}
        결과: 승리
    {% else %}
        결과: 패배
    {% endif %}
{% else %}
    {% if challenger.name==name %}
        진행 중…
        <br>
    나: {{ choice }}
        <br>
        <form action="" method="post">
            <button name="cancle" value="delete" class="btn" onclick="location.href='{% url "users:gamelist" %}'">게임취소</button>
        </form>

    {% else %}
        <button class="btn" onclick="location.href='{% url "users:counterattack" %}'">대응하기</button>
    {% endif %}
{% endif %}
<hr>
<button class="btn" onclick="location.href='{% url "users:gamelist" %}'">전적 목록</button>