<!-- TODO(1): 몇번째 대결, 어떤 유저끼리 대결했는지 -->
<!-- TODO(2): 게임 승자 기준, 유저 숫자선택, 게임결과, 점수 -->
<!-- TODO(3):전적목록 버튼 누르면 현재 유저의 전적페이지 이동 -->
<!-- TODO(4):반격하고 전적목록을 눌렀을 경우 반격버튼 사라짐 -->
{% extends 'users/base.html' %}

{%block content%}
{{ game.id }}-{{ game.challenger }}VS{{ game.opponent }}

<!-- 게임 진행중 -->
{%if status %} 
<!-- 내가 건 게임일 때 -->
    {% if challenger.name==name %}
    <h5>진행중****</h5>
    <h5>
        나: {{ game.challenger.choice }} 
    </h5>
    <form action="" method="post">
        <input type="submit" value="cancle" href='{% url "users:gamelist" %}'">게임취소</button>
    </form>

    <!-- 상대가 건 게임일 때 -->
    {% else %}
    <div class="btn"><a hreef="{% url "users:counterattack" %}">대응하기</a></div>
    <hr>

<!-- 게임 끝난 경우 -->
 {% else %}
    <hr>
    {{ game.rule }}
    <hr>
    <!-- 내가 건 게임일 때 -->
    {%if challenger.name==name|result %}
        user : {{ game.opponent.choice }}
        나 : {{ game.challenger.choice }}
        <hr>
        결과: 승리
        <hr>
        점수 : {{ game.opponent.choice }} 점
    <!-- 상대가 건 게임일 때 -->
    {% else if opponent.name==name|result %}
        user : {{ game.challenger.choice }}
        나 : {{ game.opponenet.choice }}
        <hr>
        결과: 패배    
        <hr>
        점수 : -{{ game.opponent.choice }} 점
    {% endif %}   
{% endif %}
<hr>
<div class="btn"><a hreef="{% url "users:gamelist" %}">전적목록</a></div>