<!-- TODO(1):유저들 누적점수 별로 3등까지 순위보여주기 -->
<!-- TODO(2):전적목록 버튼 누르면 접속된 유저의 전적(gamelist.html)페이지 이동 -->
{% extends 'users/base.html' %}

{%block content%}
    <h1>Piro 명예의 전당</h1>
    <br><br>
    <hr>
    <div>
        <ul style="list-style: none;">
            {% for user in users %}
            {% if forloop.counter <= 3 %}
            <li>
                {{ forloop.counter }}등 {{ user }}님! 총점수 : {{ user.sum }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <button type="button" class="btn btn-primary" style="width:200px; margin:20px">
        <a href="{% url 'users:gamelist' %}" class="text-light">전적 목록</a>
    </button>
{%endblock%}